/*  margin-left: 135px;
}*{ */
body{
    font-family: 'Mulish', sans-serif;
}
/* start-header-section */

/* start-nave */
.img-name-a{
    display:flex;
    gap: 16px;
    margin-left: 365px;
    margin-top: 50px;
    margin-bottom: 35px;
    /* justify-content: space-around; */
    
}
.img-style{
    width: 48px;
    height: 56px;
    padding-top: 20px;

}
.name-style{
    color: #131318;
    font-size: 2.1rem;
    font-weight: 800;
}
.name-color-style{
    color: #FF5400;
    font-size: 2.1rem;
    font-weight: 800;
}
/* start-banner-section */

.banner-img-text-input-button{
    background-image: url(../Images/group1311.png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px; 
    background-size: 100%;
    margin-left: 135px;
    text-align: center;
    margin: auto;
    
}
.container-center{
    padding-top: 100px;
}
.banner-h1-text-style{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0%;
}
.banner-p-text-style{
    width: 676px;
    color: #FFF;
    font-size: 1rem ;
    font-weight: 400;
    display: inline-flex;
    margin-top: 24px;
    margin-bottom: 0%;
}
.button-icon{
   display: inline-flex;
   background-color:#FF5400 ;
   border-style: none;
   width: 174px;
   height: 52px;
   align-items: center;
   padding-left: 35px;
   border-radius: 8px;
   margin-top: 48px;

}
.icon{
    width: 24px;
    height: 24px; 
   
}
.button-text{
  margin-top: 5px;
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
}
/* start-main-section */

/* main-section-1 */
.frist-sectipn-conytainer{
    display: flex;
    gap: 53px;
    margin-left: 363px;
    margin-top: 90px;
    margin-bottom: 0%;
   
    
}
.titel-tex{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.side-img-style{
    width: 540px;
    height: 550px
}
.titel-normal-text{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;

}
.list-items{
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
   
}
.last-normal-text{
    width: 530px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0px;
}
.margin-icon{
    margin-top: 32px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
    width: 174px;
    height: 52px;
}
/* start-main-section-2 */
.main-section-2-container{
    margin-top: 100px;
}
.main-section-2-text{
    text-align: center;
}
.section-2-text-style{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0%;
}
.section-2-normal-text-style{
    width: 643px;
    display: inline-flex;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}
.img-container{
    
    margin-left: 350px;

    
}
.row-1{
    display: flex;
     gap: 24px; 
     margin-top: 48px;
}
.row-2{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.row-3{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
/*start-main-section-3*/
.card-container-section-3-title{
    margin-top: 90px;
    
    text-align: center;
  
}
.card-container-section-3-title-style{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0%;


}
.card-container-section-3-title-style-normal{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    display: inline-block;
    text-align: center;


}
.card-div-1-style{
    width: 503px;
    height: 284px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    background-color: rgba(251, 181, 99, 0.2);
    padding: 32px;
}
.card-row-1-div-2-style{
    width: 503px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    background-color:rgba(41, 206, 246, 0.2) ;
    padding: 32px;
}
.card-row-2-center{
    width: 505px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    background-color: rgba(233, 68, 68, 0.2);
    margin-top: 24px;
    padding: 32px;
    margin-left: 645px;
    

}
.card-row-1{
    display: flex;
    gap: 24px;
    margin-top: 48px;
    margin-left: 350px;
}
.logo-1{
    width: 64px;
    height: 64px;
}
.card-title-text-style{
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;

}
.card-normal-text-style{
    width: 486px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
/* start-last-section */
.last-section-main{
    display: flex;
    gap: 24px;
    margin-left: 300px;
    margin-top: 90px;
   
}
.input-box{
    width: 474px;
    height: 330px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    
}
.last-title-h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;

}
.last-section-normal-text{
    width: 350px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 20px ;
    border-style: none;
    outline: none;
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
}
.margin-bottom{
    margin-bottom: 16px;
}
.submit-button-style{
    width: 275px;
    height: 35px;
    border-radius: 5px;
    background: #FF5400;
    margin-top: 16px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: none;
    outline: none;



}
.Subscribe-style{
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 700;
}


/* start-footer-section */
.footer-section{
    width: 100%;
    height: 100%;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    margin-top: 90px;
    padding-bottom: 32px;


}
.last-icon-text-p{
    width: 769px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: auto;
}
.all-text-icon-style{
    display: inline-flex;
    padding-top: 20px;
    gap: 16px;
    text-align: center;
    margin: auto;
}
.last-img-design{
    margin-top: 20px;
}
.icon-design{
    margin-top: 30px;
   
}
.last-icon{
    width: 40px;
    height: 40px;
    padding: 10px;
}
hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);

}
.end-footer{
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
}
.hide{
    overflow: hidden;
}


/*start-responsive-section */

    
@media screen  and (max-width:600px){
    
    .img-name-a{
        margin-left: 5px;
        margin-bottom: 10px;
        
    }
    .banner-img-text-input-button{
        width: 570px;
        height: 200px;
        background-image: 80%;
        border-radius: 16px;
        margin-bottom: 0%;
      
    }
    .banner-h1-text-style{
        font-size: 1.3rem;
    }
    .banner-p-text-style{
        width: 304px;
        margin-top: 5px;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .container-center{
        padding-top: 10px;
    }
    .button-icon{
        margin-top: 5px;
    }
    .button-text{
        font-size: 1rem;
    }
    /*main-section-1-respnsive  */
    .frist-sectipn-conytainer{
        flex-direction: column;
        margin-left: 5px;
        margin-top: 0%;
        gap: 24px;
        
    }
   
    .input-box{
       
        padding: 30px;
        padding-right: 55px;
    }
    .text-li-button{
        width: 570px;
        height: 330px;
        margin-bottom: 130px;
        margin-top: 0%;

    }
   
    .side-img-style{
        width: 550px;
        height: 330px;
        border-radius: 16px
    }
    .section-2-normal-text-style{
        width: 309px;
        font-size: 14px;
    }
    .img-container{
        margin-left: 0% ;
       
        
    }
   
    .row-1{
        flex-direction: column;
        gap: 0%;
    }
    .row-2{
        flex-direction: column;
        gap: 0%;
    }
    .row-3{
        flex-direction: column;
        gap: 0%;
       
    }
    .img-rectangle5{
        width: 550px;
        height: 330px;
        border-radius: 16px;
        margin-bottom: 10px;
        gap: 0%;
    }
  
    .card-container-section-3-title-style-normal{
        width: 309px;
        font-size: 14px;

    }
    .card-row-1{
        flex-direction: column;
        margin-left: 0%;
       

    }
    .card-div-1-style{
        width: 550px;
        height: 330px;
        border-radius: 16px;
        padding: 10px;
       
      
       margin-top: 0%;
    }
   
    
    .card-row-1-div-2-style{
        width: 550px;
        height: 330px;
        border-radius: 16px;
        padding: 10px;
     
      
    }
    .card-row-2-center{
        width: 550px;
        height: 330px;
        border-radius: 16px;
        margin-left: 0%;
        padding: 10px;
        display: inline-block;
        margin-bottom: 0%;
        
    }
    /* section-4 */
    .last-section-main{
        flex-direction: column;
        margin-left: 0%;
        
    
    }
    .img-rectangle81{
        width: 550px;
        height: 330px;

    }
     .input-box{
        width: 530px;
        height: 330px;
        border-radius: 16px;
        padding: 10px;
        margin: 0%;
    } 
    
   
    /* start-footer-section */

   
     .last-icon-text-p{
        width: 287px;
        font-size: 14px; 
    } 
    hr{
        width: 335px;
        
    }
   
    
    

    
    }

   
       

    




